<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <context-param>
        <param-name>primefaces.THEME</param-name>
        <param-value>bootstrap</param-value>
    </context-param>

    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.xhtml</url-pattern>
    </servlet-mapping>
    <!--<servlet>-->
        <!--<servlet-name>Initialpage</servlet-name>-->
        <!--<servlet-class>servlets.InitialServlet</servlet-class>-->
    <!--</servlet>-->
    <!--<servlet-mapping>-->
        <!--<servlet-name>Initialpage</servlet-name>-->
        <!--<url-pattern>/index.xhtml</url-pattern>-->
    <!--</servlet-mapping>-->

    <security-role>
        <role-name>user</role-name>
    </security-role>
    <security-role>
        <role-name>admin</role-name>
    </security-role>
    <!-- Session configuration -->
    <session-config>
        <cookie-config>
            <http-only>true</http-only> <!-- Prevent client side scripting from accessing/manipulating session cookie. -->
        </cookie-config>
        <tracking-mode>COOKIE</tracking-mode> <!-- This disables URL rewriting. -->
    </session-config>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Authorize user pages</web-resource-name>
            <url-pattern>/rest/tokens/*</url-pattern>
            <url-pattern>/rest/authentication/*</url-pattern>
        </web-resource-collection>
        <!-- OMIT auth-constraint -->
    </security-constraint>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>User pages</web-resource-name>
            <url-pattern>/rest/*</url-pattern>
        </web-resource-collection>
        <!--<auth-constraint>-->
            <!--<role-name>user</role-name>-->
        <!--</auth-constraint>-->
    </security-constraint>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>User pages</web-resource-name>
            <url-pattern>/admin.xhtml</url-pattern>
        </web-resource-collection>
        <auth-constraint>
         <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>
</web-app>